* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 70px;
  background-color: #ffcc03;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  margin-top: 2rem;
}
nav ul {
  list-style: none;
  background-color: #389919;
  border-radius: 0.5rem;
  padding: 0.7rem;
  a {
    text-decoration: none;
    color: white;
  }
}
.logo {
  color: #389919;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.listing-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 2rem;
  border-top: 1px solid rgb(186, 186, 186);
}
.listing-img {
  width: 100%;
}
.left-side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.delete-btn {
  background-color: rgb(190, 44, 44);
  color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 200px;
}
.listing-delete-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.success-message {
  color: #389919;
}
